# Backend
backend/dist/
backend/node_modules/
backend/build/
backend/logs/
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*
backend/.DS_Store
backend/coverage/
backend/.nyc_output/
backend/.idea/
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
backend/.settings/
backend/*.sublime-workspace
backend/.vscode/
!backend/.vscode/settings.json
!backend/.vscode/tasks.json
!backend/.vscode/launch.json
!backend/.vscode/extensions.json
backend/.env
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.local
backend/.temp/
backend/.tmp/
backend/pids/
backend/*.pid
backend/*.seed
backend/*.pid.lock
backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Frontend
frontend/node_modules/
frontend/.pnp/
frontend.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage/
frontend/.next/
frontend/out/
frontend/build/
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.env*
frontend/.vercel/
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Monorepo
node_modules
